@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Poppins:wght@300;500;600&family=Quicksand:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    background-color: rgb(211, 210, 210);
}

.header{
    background: #fff;
    position: fixed;
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #ebebeb;
    z-index: 2;
}

.header-logo{
    height: 80%;
    border-radius: 50%;
}

.header-menu{
    display: flex;
    gap: 35px;
}

.header-menu-item{
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}

section{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    margin: auto;
}

.content-home{
    background: url("painel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 300px;
    background-attachment: fixed;
    width: 100%;
}

.content-home-element{
    width: 60%;
    height: 100vh;
    background-image: linear-gradient(to right,rgba(58, 0, 255, 1), rgba(58, 0, 255, 1), transparent);
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #fff;
    justify-content: center;
    padding-left: 10%;
}

.content-home-element-title{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 900;
}

.content-home-element-list{
    list-style: none;
}

.content-home-element-item{
    font-size: 25px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.content-home-element-button{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    border: none;
    width: 220px;
    height: 60px;
    border-radius: 20px;
    box-shadow: rgba(20, 20, 20, 0.6) 4px 4px 8px;
}

.content-doubts{
    height: 100vh;
}

.content-doubts-div1{
    height: 30vh;
}

.content-doubts-title{
    font-family: 'Lato', sans-serif;
    color: #333;
    padding-top: 8%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}

.content-doubts-div2{
    display: flex;
    height: 70vh;
    width: 100%;
    margin: 0 auto;
}

.content-questions{
    width: 50%;
    padding-left: 10%;
    padding-top: 40px;
}

.content-doubts-questions{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.content-doubts-question-h3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #30176e;
}

.h3-2{
    padding-top: 30px;
}

.content-doubts-answer{
    padding-left: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #333;
}

.content-doubts-img{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.content-doubts-img img{
    transition: all 0.5s;
    position: relative;
    width: 40vw;
    object-fit: cover;
    clip-path: circle(60% at 60% 66%);
    z-index: 1;
}

.content-social{
    min-height: 70vh;
}

.content-social-title{
    font-family: 'Lato', sans-serif;
    color: #333;
    padding-top: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}

.content-social-group-icons{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10%;
    gap: 10%;
}

.fb{
    filter: drop-shadow(10px 10px 10px rgba(14, 98, 255, 0.6));
}

.ig{
    filter: drop-shadow(10px 10px 10px rgba(255, 14, 255, 0.6));
}
.wp{
    filter: drop-shadow(10px 10px 10px rgba(14, 255, 14, 0.6));
}
.content-social-icons img{
    height: 200px;
}
.footer-by{
    background-image: linear-gradient(to right,rgba(89, 0, 255, 1), rgba(15, 63, 153, 0.6));
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer-by a{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

@media screen and (max-width: 1440px){
    .content-doubts-div1{
        height: 20vh;
    }
    .title{
        transition: all 0.5s;
        font-size: 55px;
    }
    .content-doubts-title{
        transition: all 0.5s;
        padding-top: 5%;
    }
    .content-doubts-div2{
        height: 80vh;
    }
    .content-doubts-question-h3{
        font-size: 25px;
    }
    .content-doubts-answer{
        padding-left: 20px;
        font-size: 20px;
        font-weight: 300;
    }
    .content-doubts-img img{
        transition: all 0.5s;
        position: none;
        width: 100%;
        object-fit: cover;
        clip-path: circle(70% at 66% 81%);
    }
}

@media screen and (max-width: 1350px){
    .content-doubts-img{
        transition: all 0.5s;
        display: none;
    }
    .content-questions{
        transition: all 0.5s;
        width: 90%;
        text-align: center;
    }
}

@media screen and (max-width: 1024px){
    .title{
        transition: all 0.5s;
        font-size: 45px;
        font-weight: 800;
    }
    .content-doubts-div1{
        transition: all 0.5s;
        height: 20vh;
    }
    .content-doubts-title{
        transition: all 0.5s;
        padding-top: 10%;
    }
    .content-social-title{
        transition: all 0.5s;
        padding-top: 0;
    }
    .content-social-icons img{
        transition: all 0.5s;
    }
}

@media screen and (max-width: 920px){
    .content-home{
        transition: all 0.5s;
        background-position: 100px;
    }
    .content-doubts-div1{
        height: 20vh;
    }
    .title{
        transition: all 0.5s;
        font-size: 45px;
        font-weight: 800;
    }
    .content-doubts-div2{
        height: 60vh;
    }
    .content-social-title{
        padding-top: 0;
    }
    .content-social-icons img{
        transition: all 0.5s;
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
    body{
        background-color: none;
    }
    .header{
        height: 10%;
        justify-content: center;
        gap: 30px;
        z-index: 2;
    }
    .header-menu{
        gap: 30px;
    }
    .header-menu-item{
        font-size: 15px;
    }
    .title{
        font-size: 40px;
    }
    .content-home{
        background-position: center;
        width: 100%;
    }
    .content-home-element{
        padding-left: 0;
    }
    .content-home-element{
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100vh;
        background-image: none;
        text-align: center;
        align-items: center;
    }
    .content-home-element-title{
        width: 80%;
        color: rgb(194, 195, 255);
    }
    .content-home-element-list{
        width: 80%;
    }
    .content-home-element-item{
        font-size: 20px;
    }
    .content-doubts-title{
        padding-top: 20%;
        align-items: flex-end;
    }
    .content-doubts-div2{
        width: 80%;
    }
    .content-social{
        height: 90vh;
    }
    .content-social-title{
        padding-top: 15%;
    }
    .content-social-group-icons{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .content-social-icons img{
        transition: all 0.5s;
        height: 125px;
    }
}

@media screen and (max-width: 600px) {
    .content-doubts-title{
        padding-top: 25%;
    }
    .content-doubts-div2{
        height: 75%;
    }
    .content-doubts-question-h3{
        font-size: 1.4rem;
    }
    .content-doubts-answer{
        font-size: 1rem;
    }
    .content-social-title{
        padding-top: 25%;
    }
}